@tailwind base;
@tailwind components;
@tailwind utilities;

/* Podes adicionar estilos globais aqui se quiseres personalizado */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
